# Rascunho

In [1]:
import pandas as pd

In [7]:
df_players_stats = pd.read_csv("nbb_athletes_stats_by_season_2.csv", header = 0, delimiter = ';', decimal = ',',encoding='utf-8')
df_players_stats.head()

,season_id,athlete_id,played_matches,total_points,lost_points,tried_points,two_points,tried_two_points,lost_two_points,three_points,...,out_field_violations,walk_violations,total_of_blocks,total_of_errors,double_double_total,triple_double_total,bench_points,played_minutes,efficiency,plus_minus
0,1,21,28,32,84,84,18,15,6,6,...,0,0,0,24,0,0,0,172.366514,41,NaN
1,1,22,28,245,543,543,98,103,54,108,...,0,0,23,40,1,0,0,669.700100,286,NaN
2,1,23,21,348,723,723,144,130,58,141,...,0,0,0,93,3,0,0,763.283500,332,NaN
3,1,25,30,178,270,270,144,112,40,0,...,0,0,8,23,0,0,0,339.316670,217,NaN
4,1,28,31,239,589,589,90,104,59,129,...,0,0,4,32,0,0,0,732.733600,246,NaN

In [11]:
df_players_stats = pd.read_csv("Player_Stats_by_Season2022.csv",header = 0, decimal = ',',encoding='utf-8')
df_players_stats.head()

,season_id,Season_Year,athlete_id,Full_Name,Nickname,Jersey_Number,Position,Height,Weight,Team_ID,...,bench_points,efficiency,plus_minus,turnovers,CREATE_USER,CREATE_TS,UPDATE_USER,UPDATE_TS,League_ID,League_Name
0,1,2008,25,Deivisson Dos Santos Costa,Deivisson,15.0,3.0,2.1,NaN,14,...,0,217,NaN,0,root,2022-07-13 14:40:02.0,root,2022-07-13 14:40:02.0,1,NBB
1,1,2008,30,Matheus dos Prazeres Costa,Matheus,6.0,1.0,1.8,NaN,14,...,0,291,NaN,0,root,2022-07-13 14:40:02.0,root,2022-07-13 14:40:02.0,1,NBB
2,1,2008,80,JosÃ© Anibal Arantes Limonta Silva,Zezinho,14.0,1.0,1.84,NaN,14,...,0,19,NaN,0,root,2022-07-13 14:40:02.0,root,2022-07-13 14:40:02.0,1,NBB
3,1,2008,96,CauÃª Borges dos Santos,CauÃª,4.0,2.0,1.87,90.0,14,...,0,50,NaN,0,root,2022-07-13 14:40:02.0,root,2022-07-13 14:40:02.0,1,NBB
4,1,2008,97,CauÃª Verzola de Freitas,CauÃª,8.0,1.0,1.92,95.0,14,...,0,161,NaN,0,root,2022-07-13 14:40:02.0,root,2022-07-13 14:40:02.0,1,NBB

In [13]:
df_players_stats = pd.read_csv("nbb-players-new1.csv",header = 0, delimiter = ';',decimal = ',',encoding='utf-8')
df_players_stats.head()

,id,name,nickname,number,birthdate,height,weight,city,state,country,place_of_birth,rg,cpf,registration,avatar_photo,media_photo,active,position
0,21,Felipe Gustavo Da Silva,Felipe,90,10/22/1990,1.87,NaN,Araraquara (SP),NaN,NaN,Araraquara (SP),NaN,NaN,NaN,NaN,NaN,1,1
1,22,Francisco Tardivo Delben,Chico,7,6/29/1983,2.02,NaN,SâˆšÂ£o Carlos (SP),NaN,NaN,SâˆšÂ£o Carlos (SP),NaN,NaN,NaN,NaN,NaN,1,5
2,23,Arlindo Gomes Baltazar Neto,Neto,14,1/5/1986,NaN,76.0,Vilhena (RO),NaN,NaN,Vilhena (RO),NaN,NaN,NaN,NaN,NaN,1,4
3,25,Deivisson Dos Santos Costa,Deivisson,15,4/9/1980,2.10,NaN,Brasâˆšâ‰ lia (DF),NaN,NaN,Brasâˆšâ‰ lia (DF),NaN,NaN,NaN,http://lnb.com.br/wp-content/uploads/2013/08/1...,NaN,1,3
4,28,Ricardo Leopoldo de Azevedo,Ricardo,33,6/30/1983,2.01,103.0,Londrina (PR),NaN,NaN,Londrina (PR),NaN,NaN,NaN,NaN,NaN,1,5

In [15]:
df_players_stats = pd.read_csv("Player_Profile2022.csv",header = 0,decimal = ',',encoding='utf-8')
df_players_stats.head()

,id,active,name,nickname,number,position,birthdate,place_of_birth,height,weight,...,Season_Year,Team_ID,Team_Name,Team_Acronym,Team_Market,Player_Cluster_Number,CREATE_USER,CREATE_TS,UPDATE_USER,UPDATE_TS
0,21,1.0,Felipe Gustavo Da Silva,Felipe,90.0,1.0,10/22/1990,Araraquara (SP),1.87,NaN,...,2009,10,Araraquara,ARA,NaN,5,root,2022-07-13 13:37:29.0,root,2022-07-13 13:37:29.0
1,21,1.0,Felipe Gustavo Da Silva,Felipe,90.0,1.0,10/22/1990,Araraquara (SP),1.87,NaN,...,2010,10,Araraquara,ARA,NaN,5,root,2022-07-13 13:37:29.0,root,2022-07-13 13:37:29.0
2,22,1.0,Francisco Tardivo Delben,Chico,7.0,5.0,06/29/1983,SÃ£o Carlos (SP),2.02,NaN,...,2009,10,Araraquara,ARA,NaN,5,root,2022-07-13 13:37:29.0,root,2022-07-13 13:37:29.0
3,22,1.0,Francisco Tardivo Delben,Chico,7.0,5.0,06/29/1983,SÃ£o Carlos (SP),2.02,NaN,...,2010,10,Araraquara,ARA,NaN,5,root,2022-07-13 13:37:29.0,root,2022-07-13 13:37:29.0
4,22,1.0,Francisco Tardivo Delben,Chico,7.0,5.0,06/29/1983,SÃ£o Carlos (SP),2.02,NaN,...,2012,19,SÃ£o JosÃ©,SJO,NaN,5,root,2022-07-13 13:37:29.0,root,2022-07-13 13:37:29.0